@use "../base/variables" as *;

html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  min-height: 100vh;
  background: $color-black;
  overflow-x: hidden;
  font-family: $font-family-base;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: $font-size-base;
  color: $color-white;
  &.no-scroll {
    overflow: hidden;
  }
}
main {
  overflow-x: hidden;
}
.sm-visible {
  display: none;
}
@media (max-width: 767px) {
  .sm-visible {
    display: block;
  }
  .sm-hide {
    display: none;
  }
}
// ==========================================================================
// mixin
// ==========================================================================
@mixin h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  line-height: 1.1;
  color: $color-white;
}
@mixin h2 {
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
  line-height: 1.2;
  color: $color-white;
  text-transform: $transition-base;
}
@mixin h3 {
  font-size: $h3-font-size;
  font-weight: $h3-font-weight;
  line-height: 1.2;
  color: $color-white;
}
@mixin h4 {
  font-size: $h4-font-size;
  font-weight: 600;
  line-height: 1.3;
  color: $color-white;
}
@mixin h5 {
  font-size: $h5-font-size;
  font-weight: 600;
  line-height: 1.3;
}
@mixin h6 {
  font-size: $h5-font-size;
  font-weight: 600;
  line-height: 1.3;
}
@mixin b1 {
  font-size: $font-size-base + 6px;
  font-weight: 700;
  text-transform: $transition-base;
}
@mixin b2 {
  font-size: $font-size-base + 2px;
  font-weight: 700;
}
@mixin b3 {
  font-size: $font-size-base;
  font-weight: 700;
}
@mixin b4 {
  font-size: $font-size-base - 2px;
  font-weight: 700;
}

a {
  text-decoration: none;
}
