<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- build:css -->
  <link rel="stylesheet" href="./css/main.min.css" />
  <!-- endbuild -->
  <title> </title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta itemprop="name" content="" />
  <meta itemprop="description" content="" />
  <meta itemprop="image" content="./img/bitmap.jpg" />
  <link rel="alternate" hreflang="ru" href="/ru/" />
  <link rel="alternate" hreflang="uk" href="/ua/" />
  <!-- Twitter Card markup-->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:creator" content="" />
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image" content="./img/bitmap.jpg" />
  <meta name="twitter:image:alt" content="" />
  <!-- Open Graph markup (Facebook, Pinterest) -->
  <meta property="og:title" content="" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="./img/bitmap.jpg" />
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="" />
  <meta property="article:section" content=" " />
  <meta property="article:tag" content="" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Manrope:wght@416&display=swap"
    rel="stylesheet"
  />
  <link rel="shortcut icon" href="/img/svg/logo.svg" />
  <link rel="apple-touch-icon" href="./img/apple-touch-icon.png" />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="./img/apple-touch-icon-72x72.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="./img/apple-touch-icon-114x114.png"
  />
  <!-- Google Tag Manager -->

  <!-- End Google Tag Manager -->
</head>
