<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="/" class="logo">
        <img src="./img/svg/logo.svg" alt="Company Logo" class="logo__img" />
      </a>

      <button class="menu-toggle" aria-label="Відкрити меню">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="nav__body">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Про нас</a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Послуги</a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Портфоліо</a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Контакти</a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Блог</a>
          </li>
        </ul>

        <div class="nav-actions">
          <div class="lang-switch">
            <a href="#" class="lang-switch__link">RU</a>
            <span class="lang-switch__icon">
              <img src="./img/svg/globe.svg" alt="language" />
            </span>
            <span class="lang-switch__link active">UA</span>
          </div>
          <button class="btn btn--primary">Консультація</button>
        </div>
      </div>
    </nav>
  </div>
</header>
