<section class="hero" id="hero">
  <div class="container">
    <header class="hero__header">
      <h1 class="h2 text-uppercase hero__title">БЛОГ <span>AVERSPARK</span></h1>
      <p class="b2 hero__subtitle">
        Ідеї, інсайти та практичні матеріали про цифрові продукти, дизайн і
        розробку для бізнесу
      </p>
    </header>

    <!-- Swiper -->
    <div class="swiper hero-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="hero-post">
            <div class="hero-post__inner">
              <div class="hero-post__content">
                <div class="hero-post__meta">
                  <img src="./img/svg/user.svg" alt="User" class="logo__img" />
                  <span>Вітер Оксана</span>
                </div>
                <h2 class="b1 hero-post__title">
                  Як бізнесу обрати формат сайту: лендинг, корпоративний сайт чи
                  веб-сервіс
                </h2>
                <p class="b3 hero-post__text">
                  Багато бізнесів починають із сайту «для галочки» — і лише з
                  часом розуміють, що формат платформи напряму впливає на
                  заявки, продажі та довіру клієнтів. У цій статті ми покажемо,
                  чим відрізняються лендинг, корпоративний сайт і веб-сервіс —
                  та як обрати правильний варіант під вашу задачу.
                </p>
                <a href="#" class="btn-more b4"
                  ><span>Читати далі</span>
                  <img src="/img/svg/arrow-right-green.svg" alt=""
                /></a>
              </div>
              <div class="hero-post__image">
                <img src="img/hero-img.jpg" alt="" />
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="hero-post">
            <div class="hero-post__inner">
              <div class="hero-post__content">
                <div class="hero-post__meta">
                  <img src="./img/svg/user.svg" alt="User" class="logo__img" />
                  <span>Вітер Оксана</span>
                </div>
                <h2 class="b1 hero-post__title">
                  Як бізнесу обрати формат сайту: лендинг, корпоративний сайт чи
                  веб-сервіс
                </h2>
                <p class="hero-post__text">
                  Багато бізнесів починають із сайту «для галочки» — і лише з
                  часом розуміють, що формат платформи напряму впливає на
                  заявки, продажі та довіру клієнта.
                </p>
                <a href="#" class="btn-more b4"
                  ><span>Читати далі</span>
                  <img src="/img/svg/arrow-right-green.svg" alt=""
                /></a>
              </div>
              <div class="hero-post__image">
                <img src="img/hero-img.jpg" alt="" />
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="hero-post">
            <div class="hero-post__inner">
              <div class="hero-post__content">
                <div class="hero-post__meta">
                  <img src="./img/svg/user.svg" alt="User" class="logo__img" />
                  <span>Вітер Оксана</span>
                </div>
                <h2 class="b1 hero-post__title">
                  Як бізнесу обрати формат сайту: лендинг, корпоративний сайт чи
                  веб-сервіс
                </h2>
                <p class="hero-post__text">
                  Багато бізнесів починають із сайту «для галочки» — і лише з
                  часом розуміють, що формат платформи напряму впливає на
                  заявки, продажі та довіру клієнта.
                </p>
                <a href="#" class="btn-more b4"
                  ><span>Читати далі</span>
                  <img src="/img/svg/arrow-right-green.svg" alt=""
                /></a>
              </div>
              <div class="hero-post__image">
                <img src="img/hero-img.jpg" alt="" />
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="hero-post">
            <div class="hero-post__inner">
              <div class="hero-post__content">
                <div class="hero-post__meta">
                  <img src="./img/svg/user.svg" alt="User" class="logo__img" />
                  <span>Вітер Оксана</span>
                </div>
                <h2 class="b1 hero-post__title">
                  Як бізнесу обрати формат сайту: лендинг, корпоративний сайт чи
                  веб-сервіс
                </h2>
                <p class="hero-post__text">
                  Багато бізнесів починають із сайту «для галочки» — і лише з
                  часом розуміють, що формат платформи напряму впливає на
                  заявки, продажі та довіру клієнтів. У цій статті ми покажемо,
                  чим відрізняються лендинг, корпоративний сайт і веб-сервіс —
                  та як обрати правильний варіант під вашу задачу.
                </p>
                <a href="#" class="btn-more b4"
                  ><span>Читати далі</span>
                  <img src="/img/svg/arrow-right-green.svg" alt=""
                /></a>
              </div>
              <div class="hero-post__image">
                <img src="img/hero-img.jpg" alt="" />
              </div>
            </div>
          </article>
        </div>
      </div>

      <!-- Навігація -->
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div
      class="elem elem-cube"
      data-aos="fade-up-right"
      data-aos-duration="1000"
    >
      <img src="./img/cube.png" alt="Кубик" />
    </div>
    <div
      class="elem elem-star"
      data-aos="fade-up-left"
      data-aos-duration="1200"
    >
      <img src="./img/star.png" alt="Зірка" />
    </div>
  </div>
</section>
